.balance {
    padding: 20px;
    background-color: #061722;
    border: 1px solid #183040;
    border-radius: 12px;
    flex: 1;
}

.balance h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #94a3b8;
}

.balance p {
    margin: 8px 0 0;
    font-size: 28px;
    font-weight: 600;
}

.balance--income p {
    color: #22c55e;
}

.balance--expense p {
    color: #ef4444;
}
