:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: #e8edf5;
  background-color: #020d16;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
